@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fdfbf7; /* Crema suave como lienzo */
  color: #5d5d5d;
}

/* Títulos elegantes */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

/* Clase para el fondo artístico del Hero */
.hero-oil {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url('https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?auto=format&fit=crop&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
